<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryy.search.dao.ApArticleDao">

    <resultMap id="resultMap" type="com.ryy.search.pojo.SearchArticleVo">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author_id" property="authorId"/>
        <result column="author_name" property="authorName"/>
        <result column="layout" property="layout"/>
        <result column="images" property="images"/>
        <result column="publish_time" property="publishTime"/>
        <result column="static_url" property="staticUrl"/>
        <result column="content" property="content"/>
    </resultMap>

    <select id="loadArticleList" resultMap="resultMap">
        select
            aa.* ,aac.content
        from
            askshaanxi_article.ap_article aa , askshaanxi_article.ap_article_config ac, askshaanxi_article.ap_article_content aac
        where
            aa.id = ac.article_id and aa.id = aac.article_id and ac.is_delete!=1
    </select>

</mapper>